<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seongmin.travel.model.dao.ReviewDao">

	<resultMap type="Review" id="reviewMap">
			<result column="index" property="reviewIndex"/>
			<result column="video_index" property="videoIndex"/>
			<result column="title" property="title"/>
			<result column="content" property="content"/>
			<result column="reg_date" property="regDate"/>
			<result column="view_cnt" property="viewCnt"/>
			<result column="like" property="like"/>
			<result column="dislike" property="dislike"/>
			<association column="writer_id" property="user" javaType="User">
				<id column="writer_id" property="id"/>
				<result column="password" property="password"/>
				<result column="nickname" property="nickname"/>
				<result column="email" property="email"/>
				<result column="name" property="name"/>
			</association>
	</resultMap>
	
	<select id="selectAll" resultType="Review" resultMap="reviewMap">
		SELECT r.`index`, r.video_index, r.title, r.content, r.writer_id,
		       u.nickname, u.password, u.email, u.name,
		       date_format(r.reg_date, '%Y-%m-%d %H:%i:%s') as reg_date, r.view_cnt, r.`like`, r.dislike
		FROM review AS r, user AS u
		WHERE r.writer_id = u.id
	</select>
	
	<select id="selectByIndex" resultMap="reviewMap">
		SELECT r.`index`, r.video_index, r.title, r.content, r.writer_id,
			   u.nickname, u.password, u.email, u.name,
			   date_format(r.reg_date, '%Y-%m-%d %H:%i:%s') as reg_date, r.view_cnt, r.`like`, r.dislike
		FROM review AS r, user AS u
		WHERE `index` = #{reviewIndex} AND r.writer_id = u.id
	</select>

	<select id="selectByVideoIndex" parameterType="int" resultType="Review" resultMap="reviewMap">
		SELECT r.`index`, r.video_index, r.title, r.content, u.nickname AS 'writer_id', date_format(r.reg_date, '%Y-%m-%d %H:%i:%s') as reg_date, r.view_cnt, r.`like`, r.dislike
		FROM review AS r, user AS u
		WHERE `video_index` = #{videoIndex} AND r.writer_id = u.id
	</select>
	
	<insert id="insertReview" parameterType="Review">
		INSERT INTO review (video_index, title, content, writer_id, reg_date)
		VALUES (${videoIndex}, #{title}, #{content}, #{writerId}, #{regDate})
	</insert>

	<update id="updateReview" parameterType="Review">
		UPDATE review
		SET title=#{title}, content=#{content}
		WHERE `index`=#{reviewIndex}
	</update>
	
	<update id="updateViewCnt" parameterType="int">
		UPDATE review
		SET view_cnt = view_cnt + 1
		WHERE `index`=#{reviewIndex}
	</update>
	
	<delete id="deleteReviewByIndex" parameterType="int">
		DELETE FROM review
		WHERE `index`=#{reviewIndex}
	</delete>

	<update id="likeReview" parameterType="int">
		UPDATE review
		SET
			`like` = `like` + 1
		WHERE `index` = #{index}
	</update>

	<update id="dislikeReview" parameterType="int">
		UPDATE review
		SET
			dislike = dislike + 1
		WHERE `index` = #{index}
	</update>
</mapper>